<!-- ------------------------------abt start------------------------------ -->
<section class="inner_bnr" style="background-image: url('assets/img/inner-bnr.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 inner_bnr_col my-3">
        <h1 class="text-center">Road Side Assistance</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent bread_crumb_custom mb-0 justify-content-center">
            <li class="breadcrumb-item"><a href="index.html" class="blue_clr text-white">Home</a></li>
            <li class="breadcrumb-item active text-white" aria-current="page">Road Side Assistance</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ------------------------------abt end------------------------------ -->
<!-- -----------------------------product inner sec start----------------------------- -->

<section class="pdd_bg_sec">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12 col-12 my-3 pdd_img_col">
        <img src="assets/img/pds2.jpg" class="img-fluid pd_inner_image" alt="video image">
      </div>
      <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12 col-12 my-3 pdd_text_col">
        <h3 class="cms_hd hd_font mb-lg-3 mb-md-3 mb-2">Road Side Assistance</h3>
        <p>In the event of immobilization of the Covered Vehicle due to
          mechanical or electrical breakdown and as long as the said fault
          can be repaired at the place of immobilization within a maximum
          time period of 45 (Forty-five) minutes in citys / 60 min on Highways
          and 90 min on Hill stations , RODA shall proceed with on-site
          repair of the breakdown.</p>
        <p>Neither supply of parts, consumables nor replacement elements,
          nor materials in general are included in this coverage.</p>
        <p>In case of a Covered Vehicle being rendered immobilized
          due to punctured or flat tyre, RODA shall arrange for
          changing this tyre with the spare tyre available in the
          vehicle after ascertaining the condition of spare tyre and
          other relevant details over phone. In absence of a
          suitable spare tyre, RODA shall go ahead with ‘Puncture
          Repair Assistance
          .</p>
        <p>If the Covered Vehicle does not start due to the battery being discharged, RODA shall arrange to
          jumpstart / charging support the vehicle. Scope of this benefit does not include supply of parts or
          replacement elements, nor materials in general.</p>
        <p>If the covered vehicle runs out of fuel, RODA shall
          arrange to deliver up to 5 litters of fuel (only petrol/Diesel).
          Cost of fuel shall be paid by customer on the spot. This
          service is applicable for the vehicle on road and within
          10kms radius from any approved workshop distance limit
          in this benefit is due to practical hazards of carrying fuel
          over long distances.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- -----------------------------product inner sec end----------------------------- -->
<!-- -----------------------------view plan start----------------------------- -->
<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 contact_fm_text my-3">
    <button class="btn btn_bnr_red text-uppercase mt-2 w-100" routerLink="/plans">VIEW PLANS</button>
  </div>
</div>
<!-- -----------------------------view plan end----------------------------- -->
<!-- ----------------------------------service start---------------------------------- -->
<section class="ser_bg">
  <div class="container">
    <h3 class="cms_hd hd_font mb-lg-3 mb-md-3 mb-2">Our Services</h3>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 service_col my-3">
        <div class="card service_card">
          <div class="card-body">
            <img src="assets/img/24h.png" class="img-fluid mb-3" alt="service icon">
            <h4 class="font-weight-bold hd_font">24X7 Road Assistance</h4>
            <p class="mb-0">Our representatives are available 24X7 for on spot assistance and repair at anytime
              anywhere.</p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 service_col my-3">
        <div class="card service_card">
          <div class="card-body">
            <img src="assets/img/service2.png" class="img-fluid mb-3" alt="service icon">
            <h4 class="font-weight-bold hd_font">Flat Tyre</h4>
            <p class="mb-0">Our technicians will replace your vehicle's flat tyre with our spare, in case you do not
              have enough spare tyre(s).</p>
          </div>
        </div>
      </div>


      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 service_col my-3">
        <div class="card service_card">
          <div class="card-body">
            <img src="assets/img/service3.png" class="img-fluid mb-3" alt="service icon">
            <h4 class="font-weight-bold hd_font">Towing</h4>
            <p class="mb-0">In case on-site repair is not possible, we will provide towing facility to the nearest
              authorized workshop.</p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 service_col my-3">
        <div class="card service_card">
          <div class="card-body">
            <img src="assets/img/service4.png" class="img-fluid mb-3" alt="service icon">
            <h4 class="font-weight-bold hd_font">Jump Start</h4>
            <p class="mb-0">Our technicians will assist you to jumpstart your vehicle in case of a dead or weak battery.
            </p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 service_col my-3">
        <div class="card service_card">
          <div class="card-body">
            <img src="assets/img/service5.png" class="img-fluid mb-3" alt="service icon">
            <h4 class="font-weight-bold hd_font">Lockout</h4>
            <p class="mb-0">Our technician will unlock your car using high end tools so that your vehicle remains as it
              was before repair.</p>
          </div>
        </div>
      </div>


      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 service_col my-3">
        <div class="card service_card">
          <div class="card-body">
            <img src="assets/img/service6.png" class="img-fluid mb-3" alt="service icon">
            <h4 class="font-weight-bold hd_font">Fuel Supply</h4>
            <p class="mb-0">We will deliver Petrol/Diesel upto 5 litres at actual cost to you anytime anywhere, if
              required.</p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 service_col my-3">
        <div class="card service_card">
          <div class="card-body">
            <img src="assets/img/car-prc.png" class="img-fluid mb-3" alt="service icon">
            <h4 class="font-weight-bold hd_font">On-site Minor Repair</h4>
            <p class="mb-0">Our mechanic will reach to you and fix the issue while you are in highways or hillstations.
            </p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 service_col my-3">
        <div class="card service_card">
          <div class="card-body">
            <img src="assets/img/tow-truck.png" class="img-fluid mb-3" alt="service icon">
            <h4 class="font-weight-bold hd_font">Accidental Vehicle Removal</h4>
            <p class="mb-0">We will arrange suitable services to bring your vehicle to safety.</p>
          </div>
        </div>
      </div>


      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 service_col my-3">
        <div class="card service_card">
          <div class="card-body">
            <img src="assets/img/email-contact.png" class="img-fluid mb-3" alt="service icon">
            <h4 class="font-weight-bold hd_font">Quick Message Transfer</h4>
            <p class="mb-0">We shall inform your dealer irrespective of the drop location during a situation of vehicle breakdown.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- ----------------------------------service end---------------------------------- -->