
<!-- -------------------------------------footer start------------------------------------- -->
<section class="ftr_bg">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 footer_col my-3 my-2">
          <img src="./assets/img/logo.png" class="img-fluid ftr_log mb-3">
          <p class="mb-0">Our story began in 2016. We started on road repair services, making every best possible effort to make the vehicle roadworthy as soon as possible. </p>
          <h5 class="font-weight-bold my-3 ftr_sub_hd">Follow Us</h5>
          <ul class="nav footer_social">
            <li class="nav-item">
              <a class="nav-link mr-2" href="https://www.facebook.com/rodaindia/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link mr-2" href="https://twitter.com/LtdRoda" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link mr-2" href="https://www.instagram.com/rodaonroad/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://in.linkedin.com/company/rodaindia" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 footer_col my-3 my-2">
          <h5 class="font-weight-bold mb-2 ftr_sub_hd">Quick links</h5>
          <ul class="nav flex-column footer_nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="contact">Make Appointment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="about">About Company</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="about">Team Member</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="blog">Latest news</a>
            </li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 footer_col my-3 my-2">
          <h5 class="font-weight-bold mb-2 ftr_sub_hd">Products</h5>
          <ul class="nav flex-column footer_nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/products"> Road Side Assistance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/health-insurance">Health Insurance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/vehicle-insurance">Vehicle Insurance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/used-cars">Used Cars</a>
            </li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 footer_col my-3 my-2">
          <h5 class="font-weight-bold mb-2 ftr_sub_hd">Download App</h5>
          <p class="mb-0">Our app will soon be available on Google Play <br>& App Store.</p>
          <img src="./assets/img/app.png" class="img-fluid my-3" alt="app image">
        </div>
      </div>
    </div>
  </section>
  <div class="btm_ftr">
    <p class="mb-0 text-center">Copyright ©
      {{ anio }}
   Roda Assistance Pvt Ltd. All Rights Reserved
    </p>
  </div>